.mainAccountsPageDiv{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: "Exo", sans-serif;
/* background-color: rgb(16, 86, 143); */
}

.mainAccountsInfoDiv{
    /* margin-top: 50px; */
    background-color: #d37306bd;
    height: fit-content;
    width: 50%;
    border-radius: 15px;
    color: whitesmoke;
}

.accountInfoHeader{
    text-align: center;
    width: 100%;
}

.accountInfoHeader h1 {
    font-size: 45px;
}

.infoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

#username{
    margin-top: 30px;
}

.infoDiv h2 {
    margin-bottom: 10px;
}

.updateButtonDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* .updateButtonDiv button{
    width: 75px;
    padding: 4px;
    border: solid 2px rgb(177,212,223);
    background-color: transparent;
    color: rgb(177,212,223);
    font-size: 15px;
} */
.updateButton {
	font-family: "Exo", sans-serif;
	width: 150px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

.updateButton:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #9f2b00;
	transition: ease all 0.5s;
}
.updateButton:before,
.updateButton:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: white;
	transition: 0.5s ease all;
}
.updateButton:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.updateButton:hover:before,
.updateButton:hover:after {
	width: 100%;
	transition: 2s ease all;
}