.coinTick {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 2px solid #d37506;
	padding: 10px 0;
	background-color: #d3d3cb;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
}
.mainCoinInfo {
	display: flex;
	align-items: center;
}
.subCoinFo {
	width: 50px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.coinLogo {
	height: 30px;
	width: 30px;
}
.coinName {
	text-align: left;
	margin-left: 10px;
	width: 115px;
	font-size: 14px;
}
.coinName a {
	color: inherit;
	text-decoration: inherit;
}
.coinSym {
	color: #9f2b00;
	padding-top: 5px;
	text-align: center;
	font-size: 0.8rem;
}
.coinPrice {
	font-size: 14px;
	width: 80px;
	margin: 0 10px 0 25px;
}
.coinChange {
	font-size: 14px;
	width: 75px;
	margin: 0 15px;
}
.coinPer {
	font-size: 14px;
	margin: 0 15px;
}
.red {
	color: #f00606;
}

.green {
	color: #11d811;
}
.addBut {
	width: 50px;
	height: 25px;
	margin-right: 10px;
	font-family: "Exo", sans-serif;
	color: #0c2d48;
	background-color: #2e8bc0;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
}
.addBut:hover {
	background-color: #0c2d48;
	color: white;
	transition: ease all 0.5s;
}
.addBut:before,
.addBut:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #2e8bc0;
	transition: 0.5s ease all;
}
.addBut:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.addBut:hover:before,
.addBut:hover:after {
	width: 100%;
	transition: 1s ease all;
}
.addBut:focus {
	background-color: white;
	color: #b1d4e0;
}
