.detailCont {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	background-image: url("../assets/crypPic.jpeg");
	background-position: center;
	background-size: cover;
	animation: slowLoad 1.5s;
}
.cryptoInfo {
	margin: 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #d3d3cbee;
	background-position: center;
	border: 1px solid #9f2b00;
	border-radius: 5px;
	max-width: 650px;
}
.mainDetailCont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 25px 25px 5px 25px;
}
.cryptoMainInfo {
	display: flex;
}
.nameInfo {
	margin-left: 10px;
}
.nameInfo h2 {
	color: #d37506;
}
.nameInfo h3 {
	color: #9f2b00;
	text-align: center;
}
.coinImg {
	width: 75px;
	height: 75px;
}
.secondaryInfo {
	margin: 20px;
}
.secondaryInfo div {
	display: flex;
	justify-content: space-between;
	padding: 2px;
	border-bottom: 1px solid #d3730669;
}
.secondaryInfo div p {
	font-size: 14px;
}
.ranker {
	margin-top: 5px;
	padding: 3px;
	color: white;
	width: fit-content;
	background-color: #d37506;
	font-size: 10px;
	border-radius: 5px;
	text-align: center;
	align-self: center;
}
.currentPrice {
	margin-top: 10px;
	text-align: center;
}
.priceDifferenceHeader {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
.priceDifferenceCont {
	display: flex;
	justify-content: space-between;
}
.differenceHigh {
	color: #1b831b;
}
.differenceLow {
	color: #f00606;
}
.priceChangeCont {
	border-bottom: 1px solid #b1b1b1;
	border-radius: 5px 5px 0 0;
	margin: 5px 10px 25px 10px;
}
.priceChangeCont h4 {
	text-align: center;
	border-radius: 5px 5px 0 0;
	background-color: #d37506;
	margin-bottom: 5px;
}
.perChangeRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.perChangeRow h5 {
	text-align: center;
	text-decoration: underline;
}
.perChangeRow p {
	font-size: 14px;
}
.perChangeRow div {
	padding: 7.5px;
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
}
.returnButton {
	width: 50px;
	height: 35px;
	align-self: center;
	font-size: 20px;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	margin-top: 25px;
}
.returnButton:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #d37506;
	transition: ease all 0.5s;
}
.returnButton:before,
.returnButton:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #9f2b00;
	transition: 0.5s ease all;
}
.returnButton:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.returnButton:hover:before,
.returnButton:hover:after {
	width: 100%;
	transition: 2s ease all;
}
.returnButton:focus {
	background-color: #9f2b00;
	color: white;
}
.red {
	color: #f00606;
}
.green {
	color: #1b831b;
}
@keyframes slowLoad {
	from {
		opacity: 0;
		transform: rotateX(0deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
