.cryptCont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 2.5px;
	padding: 10px;
	margin-top: 0;
	font-family: "Montserrat", sans-serif;
	background-color: #d3d3cb;
	border: 2px outset #d37506;
	border-radius: 2px;
	width: 75%;
}
.cryptCont:hover {
	background-color: #ada7a7;
}
.mainCryptInfo {
	display: flex;
	align-items: center;
}
.importantName {
	margin-left: 10px;
}
.portLogo {
	background-color: white;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.cryptName {
	color: #d37506;
	font-size: 1rem;
	margin-bottom: 5px;
	width: 100px;
	text-align: center;
}
.cryptName a {
	color: inherit;
	text-decoration: inherit;
}
.cryptSymb {
	color: #d37506;
	font-size: 0.9rem;
	text-align: center;
}
.crypCurrent {
	font-size: 1.2rem;
	color: #d37506;
	margin-top: 15px;
}
.persChange {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.persChange div {
	display: flex;
	margin: 10px;
}
.crypPer1 {
	margin-left: 5px;
}
.crypPer24 {
	margin-left: 5px;
}
.red {
	color: #f00606;
}
.green {
	color: #1b831b;
}
.crypDelete {
	width: 60px;
	height: 30px;
	font-family: "Exo", sans-serif;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
}
.crypDelete:hover {
	background-color: #00000000;
	color: #d37506;
	transition: ease all 0.3s;
}
.crypDelete:before,
.crypDelete:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #9f2b00;
	transition: 0.5s ease all;
}
.crypDelete:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.crypDelete:hover:before,
.crypDelete:hover:after {
	width: 100%;
	transition: 1s ease all;
}
.crypDelete:focus {
	background-color: white;
	color: #d37506;
}
@media screen and (max-width: 750px) {
	.cryptCont {
		justify-content: center;
	}
}
