@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,700&family=Quando&family=Poppins:wght@600&display=swap&family=Montserrat&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #d37506;
	border-radius: 5px;
}
::-webkit-scrollbar-track {
	background-color: #ada7a7;
	border: 1px solid #d3d3cb;
	border-radius: 2px;
}
