.Landing {
	width: 100%;
	height: 100vh;
	background: linear-gradient(0deg, white 0%, #c8c8c8 65%, #4f4f4f 100%);
	text-align: center;
	animation: slowLoad 1.5s;
}
.landingCont {
	display: flex;
	padding: 15px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.landingLogoArea {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.landingButCont {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.LogoName {
	font-family: "Quando", serif;
	color: #d37506;
	font-size: 45px;
	margin-top: 0;
}
.InfoTxt {
	font-family: "Poppins", sans-serif;
	margin-bottom: 5px;
	color: #9f2b00;
}
.pageInfo {
	font-family: "Poppins", sans-serif;
	margin-bottom: 15px;
}
.loginBut {
	font-family: "Exo", sans-serif;
	width: 160px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}
.loginBut:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #d37506;
	transition: ease all 0.5s;
}
.loginBut:before,
.loginBut:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #9f2b00;
	transition: 0.5s ease all;
}
.loginBut:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.loginBut:hover:before,
.loginBut:hover:after {
	width: 100%;
	transition: 2s ease all;
}
.loginBut:focus {
	background-color: #9f2b00;
	color: white;
}
.regBut {
	font-family: "Exo", sans-serif;
	width: 160px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}
.regBut:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #d37506;
	transition: ease all 0.5s;
}
.regBut:before,
.regBut:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 0;
	background: #9f2b00;
	transition: 0.5s ease all;
}
.regBut:after {
	left: inherit;
	top: inherit;
	right: 0;
	bottom: 0;
}
.regBut:hover:before,
.regBut:hover:after {
	width: 100%;
	transition: 2s ease all;
}
.regBut:focus {
	background-color: #9f2b00;
	color: white;
}
@keyframes colorCycle {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes slowLoad {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
