.navbar {
	display: flex;
	background-color: #ada7a7;
	height: 80px;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 20;
	border-bottom: 1px solid #d37506;
}
.navbarCont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}
.logoArea {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 10px;
}
.siteName {
	text-align: center;
	font-family: "Quando", serif;
	color: #d37506;
}
.navItems {
	display: flex;
	width: 70vw;
	list-style: none;
	text-align: center;
	margin-right: 10px;
	justify-content: end;
}
.navLink {
	font-family: "Exo", sans-serif;
	text-decoration: none;
	font-size: 1.2rem;
	color: #d37506;
	padding: 0.5rem 1rem;
	border-bottom: 4px solid transparent;
}
.navLinks {
	line-height: 40px;
	margin-right: 1rem;
}
.navLinks i {
	padding-right: 0.5rem;
}
.fa-user-circle {
	font-size: 19px;
}
.navLinks:after {
	content: "";
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width 1s ease, background-color 0.5s ease;
}
.navLinks:hover:after {
	width: 100%;
	background: white;
}
.navLinks .active {
	color: white;
	border-bottom: 2px solid #d37506;
}
.menuButtons {
	margin-right: 20px;
	color: #d37506;
	font-size: 2.5rem;
	display: none;
	cursor: pointer;
}
@media screen and (max-width: 675px) {
	.navbarCont {
		justify-content: space-between;
	}
	.navItems {
		display: flex;
		flex-direction: column;
		background: #ada7a7;
		width: 100%;
		position: absolute;
		top: 80px;
		left: -110%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	.navItems.active {
		background: #ada7a7;
		left: 0px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}
	.menuButtons {
		display: block;
	}
	.navLinks {
		margin: 0;
	}
}
