.portfolio {
	animation: slowLoad 1.5s;
	display: flex;
	flex-direction: column;
}
.portHeaderCont {
	padding: 5px;
	display: flex;
	margin-top: 25px;
	background-color: #d37506;
}
.portHeaderCont img {
	margin-left: 10px;
	height: 35px;
	width: 35px;
}
.portHeaderCont h2 {
	margin-left: 10px;
	font-family: "Montserrat", sans-serif;
	color: white;
}

@keyframes slowLoad {
	from {
		opacity: 0;
		transform: rotateX(45deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
