.registrationcomp {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, white 0%, #c8c8c8 65%, #4f4f4f 100%);
}
.registrationCont {
	background: linear-gradient(0deg, white 0%, #d37506 100%);
	border-style: outset;
	border-color: #e0dbd6;	
	display: flex;
	align-items: center;
}

.inputFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.registrationform {
	display:flex;
	flex-direction: column;
	align-items: center;
	
}
.registrationCont input {
	border-color: #d37506;
	margin-top: 5px;
}

.registerbtn {
	height: 30px;
	width: 100px;
	color: whitesmoke;
	background-color: #d37506;
	border: none;
	outline: none;
}
