.registration {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../assets/moonBackground.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	animation: slowLoad 1.5s;
}
.registerLogo {
	width: 200px;
	height: 200px;
}
.registrationCont {
	background: linear-gradient(0deg, #4f4f4fc6 0%, #d37306bd 100%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}
.registrationCont h1 {
	font-family: "Quando", serif;
	color: #d3d3cbd9;
}
.inputFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.registrationCont input {
	border-color: #d37506;
	margin-top: 10px;
	width: 185px;
	height: 30px;
	border-radius: 15px;
	padding-left: 10px;
	color: #9f2b00;
}
.registrationCont input:hover {
	border: 1px solid #9f2b00;
}
::-webkit-input-placeholder {
	text-align: center;
	color: #9f2b00;
	font-family: "Montserrat", sans-serif;
}
.registerRedirect a {
	text-decoration: none;
	color: #d37506;
}
.registerbtn {
	font-family: "Exo", sans-serif;
	width: 150px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #d37506;
	border: none;
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}
.registerbtn:hover {
	background-color: rgba(255, 255, 255, 0);
	color: #9f2b00;
	transition: ease all 0.5s;
}
.registerbtn:before,
.registerbtn:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: white;
	transition: 0.5s ease all;
}
.registerbtn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.registerbtn:hover:before,
.registerbtn:hover:after {
	width: 100%;
	transition: 2s ease all;
}
h3 {
	text-align: center;
}
@keyframes slowLoad {
	from {
		opacity: 0;
		transform: rotateX(45deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
